body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

#container {
    width: 100%;


}

header {
    background-color: #454545;
    height: 80px;
    position: fixed;
    width: 100%;
    padding-top: 0;
    
}
header ul{
    width: 1000px;
    float: right;
    height: 50px;
}
img{
    float: left;
    width: 50px;
    height: 50px;
    padding-left: 50px;
    padding-top: 15px;
}
h1{
    float: left;
    color: #ffffff;
    padding-left: 10px;
    width: 150px;
    font-family: 'Raleway', sans-serif;
}

ul {
    
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    padding-right: 50px;
    overflow: hidden;
    
    
}

li {
    float: right;
    padding: 15px ;
}

li a {
    clear: both;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    width: 5em;
    padding: 3px;
}
nav{
    clear: both;
    float: left;
    border-top: #ffffff solid;
    margin-top : 80px;
    margin-left: 0;
    padding: 0;
    width: 320px;
    height: auto;
    background-color: #6a6a6a;
    border-radius: 0 0 10px 0;
    position: fixed;
}
nav ul{
    padding: 0;
    padding-left: 20px;
}
nav ul li  {
    clear: both;
    float: left;
    display: flex;
    color: white;
    text-align: left;
    
    text-decoration: none;
    font-size: 15px;
    padding: 0;
    margin-bottom: 10px;
}
nav ul li a{
    
    padding-top: 0px;
    width: 300px;
    text-align: left;
    padding: 10px;
}
li a:hover {
    background-color: rgb(227, 226, 226);
    width: 5em;
    padding: 5px;
    color: rgb(199, 0, 0);
}
nav li :hover {
    background-color: rgb(227, 226, 226);
    width: 300px;
    padding-top: 0px;
    width: 300px;
    text-align: left;
    padding: 10px;
    color: rgb(199, 0, 0);
}
section {
    float: right;
    width: 70%;
    height: auto;
    background-color: white;
    line-height: 2.2em;
    padding-top: 100px;
    padding-bottom: 30px;

}
section p{
    border: #ffffff solid;
    width: 50em;
    padding-left: 4em;
    text-align: center;
    text-indent: 6em;
}
section h2,h4,h3{
    text-align: left;
    color: firebrick;
    text-indent: 40px;
}



footer {
    clear: both;
    
}
.refer {
    padding-top: 0;
    float: right;
    background-color: rgb(211, 211, 211);
    width: 55%;
    padding-right: 5%;
    font-size: smaller;
    
}
.refer p {
    float: right;
    text-align: left;
    height: 253px;
    padding-top: 20px;
    font-size: 13px;
}
section.contact {
    float: left;
    background-color: rgb(211, 211, 211);
    width: 30%;
    padding:  0 0 0 10%;
    height: 50%;
    margin: 0;
}


section.contact img{
    padding-left: 0;
    
    padding-top: 0;
    width: 25px;
    height: 25px;
    margin: 0;
}
section.contact ul span{
    color: #454545;
    text-align: center;
    margin: 0;
    padding-left: 15px;
    font-size: 15px;
}
section.step {
    float: left;
    width: 800px;
    text-align: left;
    padding-left: 500px;

}
section.Htec {
    text-align: none;
    text-indent: 20px;
}
section .tec {
    text-align: left;
    text-indent: 0px;
    list-style-type: decimal;
    overflow: none;
    display: block;
}
section .Htec {
    text-align: left;
    text-indent: 0px;
    list-style-type: decimal;
    overflow: none;
    display: block;
}